@model EditViewModel
@{
    ViewData["Title"] = "Edit";
}

<nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item active" aria-current="page">EditUser</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->

<div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17"
    style="background-image: url('/assets/images/backgrounds/login-bg.png')">
    <div class="container">
        <div class="form-box">
            <div class="form-tab">
                <ul class="nav nav-pills nav-fill" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" aria-selected="true">Edit</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" role="tabpanel">

        <form asp-controller="Admin" asp-action="Edit" method="post">
            <div>
                <label asp-for="RoleName"></label>
                <select asp-for="RoleName" class="form-select" aria-label="Default select example">
                    <option value="Customer">Customer</option>
                    <option value="StoreOwner">StoreOwner</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="changePassword"></label>
                <input asp-for="changePassword" class="form-control" />
                <span asp-validation-for="changePassword" class="invalid-feedback custom-invalid-feedback"></span>
            </div>
            <input type="text" value="@Model.UserId" asp-for="UserId" readonly />

            <div class="form-footer">
                <button type="submit" class="btn btn-outline-primary-2">
                    <span>EditProfile</span>
                    <i class="icon-long-arrow-right"></i>
                </button>
                </a>
            </div><!-- End .form-footer -->
        </form>
                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->
            </div><!-- End .form-tab -->
        </div><!-- End .form-box -->
    </div><!-- End .container -->
</div><!-- End .login-page section-bg -->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
