@model List<BookStore.Models.Book>
@{
    ViewData["Title"] = "Các sản phẩm";
}

<div class="card-columns">
    @foreach (var book in Model)
    {
        <div class="card">
            <h3 class="card-header">@book.Title</h3>
            <div class="card-body" style="height: 150px;">
                @book.Description
            </div>
            <div class="card-footer">
                <span class="text-muted">@(book.Price.ToString("n0")) VND</span>    
                <a asp-route="addcart" 
                   asp-route-bookid="@book.Id"
                   class="btn btn-secondary btn-sm float-right">Đặt hàng</a>
            </div>
        </div>
    }
</div>