<div class="page-header text-center" style="background-image: url('~/assets/images/page-header-bg.jpg')">
    <div class="container">
        <h1 class="page-title">F.A.Q<span>Pages</span></h1>
    </div><!-- End .container -->
</div><!-- End .page-header -->
<nav aria-label="breadcrumb" class="breadcrumb-nav">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Pages</a></li>
            <li class="breadcrumb-item active" aria-current="page">FAQ</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->

<div class="page-content">
    <div class="container">
        <h2 class="title text-center mb-3">Shipping Information</h2><!-- End .title -->
        <div class="accordion accordion-rounded" id="accordion-1">
            <div class="card card-box card-sm bg-light">
                <div class="card-header" id="heading-1">
                    <h2 class="card-title">
                        <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true"
                            aria-controls="collapse-1">
                            What is the estimated delivery time for orders placed on your online book store?
                        </a>
                    </h2>
                </div><!-- End .card-header -->
                <div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion-1">
                    <div class="card-body">
                        The estimated delivery time for orders placed on our online book store is typically
                        between 3 to 7 business days, depending on the shipping destination and the
                        availability of the book. </div><!-- End .card-body -->
                </div><!-- End .collapse -->
            </div><!-- End .card -->

            <div class="card card-box card-sm bg-light">
                <div class="card-header" id="heading-2">
                    <h2 class="card-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2"
                            aria-expanded="false" aria-controls="collapse-2">
                            Do you offer international shipping for books? </a>
                    </h2>
                </div><!-- End .card-header -->
                <div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion-1">
                    <div class="card-body">
                        Yes, we offer international shipping for books. However, please note that shipping
                        fees and delivery times may vary depending on the destination country.
                    </div><!-- End .card-body -->
                </div><!-- End .collapse -->
            </div><!-- End .card -->

            <div class="card card-box card-sm bg-light">
                <div class="card-header" id="heading-3">
                    <h2 class="card-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3"
                            aria-expanded="false" aria-controls="collapse-3">
                            How can I track the status of my shipment?
                        </a>
                    </h2>
                </div><!-- End .card-header -->
                <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-1">
                    <div class="card-body">
                        Once your order has been shipped, you will receive a shipping confirmation email
                        with a tracking number. You can use this tracking number to track the status of your
                        shipment on our website or the courier's website.
                    </div><!-- End .card-body -->
                </div><!-- End .collapse -->
            </div><!-- End .card -->

            <div class="card card-box card-sm bg-light">
                <div class="card-header" id="heading-4">
                    <h2 class="card-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4"
                            aria-expanded="false" aria-controls="collapse-4">
                            Can I cancel or modify my order after it has been placed?
                        </a>
                    </h2>
                </div><!-- End .card-header -->
                <div id="collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#accordion-1">
                    <div class="card-body">
                        Unfortunately, we are unable to cancel or modify orders once they have been placed. We strive to
                        process and ship orders as quickly as possible, which limits our ability to make changes once an
                        order is submitted.
                    </div><!-- End .card-body -->
                </div><!-- End .collapse -->
            </div><!-- End .card -->
        </div><!-- End .accordion -->

        <h2 class="title text-center mb-3">Orders and Returns</h2><!-- End .title -->
        <div class="accordion accordion-rounded" id="accordion-2">
            <div class="card card-box card-sm bg-light">
                <div class="card-header" id="heading2-1">
                    <h2 class="card-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2-1"
                            aria-expanded="false" aria-controls="collapse2-1">
                            What is your return policy for books purchased online? </a>
                    </h2>
                </div><!-- End .card-header -->
                <div id="collapse2-1" class="collapse" aria-labelledby="heading2-1" data-parent="#accordion-2">
                    <div class="card-body">
                        We accept returns for books purchased online within 30 days of delivery. The book must be in its
                        original condition, and the return shipping costs will be the responsibility of the customer.
                        Please refer to our Returns Policy page for detailed instructions on how to initiate a return.
                    </div><!-- End .card-body -->
                </div><!-- End .collapse -->
            </div><!-- End .card -->

            <div class="card card-box card-sm bg-light">
                <div class="card-header" id="heading2-2">
                    <h2 class="card-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2-2"
                            aria-expanded="false" aria-controls="collapse2-2">
                            What should I do if I receive a damaged or incorrect book?
                        </a>
                    </h2>
                </div><!-- End .card-header -->
                <div id="collapse2-2" class="collapse" aria-labelledby="heading2-2" data-parent="#accordion-2">
                    <div class="card-body">
                        If you receive a damaged or incorrect book, please contact our customer support team within 48
                        hours of receiving the order. We will assist you in arranging a return or replacement for the
                        affected item.
                    </div><!-- End .card-body -->
                </div><!-- End .collapse -->
            </div><!-- End .card -->

            <div class="card card-box card-sm bg-light">
                <div class="card-header" id="heading2-3">
                    <h2 class="card-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse2-3"
                            aria-expanded="false" aria-controls="collapse2-3">
                            What payment methods do you accept?
                        </a>
                    </h2>
                </div><!-- End .card-header -->
                <div id="collapse2-3" class="collapse" aria-labelledby="heading2-3" data-parent="#accordion-2">
                    <div class="card-body">
                        We accept major credit cards, including Visa, Mastercard, and American Express. Additionally, we
                        also offer the option to pay via PayPal for added convenience.
                    </div><!-- End .card-body -->
                </div><!-- End .collapse -->
            </div><!-- End .card -->
        </div><!-- End .accordion -->

        <h2 class="title text-center mb-3">Payments</h2><!-- End .title -->
        <div class="accordion accordion-rounded" id="accordion-3">
            <div class="card card-box card-sm bg-light">
                <div class="card-header" id="heading3-1">
                    <h2 class="card-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3-1"
                            aria-expanded="false" aria-controls="collapse3-1">
                            Is it safe to enter my credit card information on your website?
                        </a>
                    </h2>
                </div><!-- End .card-header -->
                <div id="collapse3-1" class="collapse" aria-labelledby="heading3-1" data-parent="#accordion-3">
                    <div class="card-body">
                        Yes, it is safe to enter your credit card information on our website. We utilize
                        industry-standard encryption technology to ensure the security of your personal and payment
                        information. Additionally, we do not store your credit card details on our servers.
                    </div><!-- End .card-body -->
                </div><!-- End .collapse -->
            </div><!-- End .card -->

            <div class="card card-box card-sm bg-light">
                <div class="card-header" id="heading3-2">
                    <h2 class="card-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3-2"
                            aria-expanded="false" aria-controls="collapse3-2">
                            Do you offer any installment payment options for larger purchases?
                        </a>
                    </h2>
                </div><!-- End .card-header -->
                <div id="collapse3-2" class="collapse" aria-labelledby="heading3-2" data-parent="#accordion-3">
                    <div class="card-body">
                        Currently, we do not offer installment payment options for larger purchases. However, we are
                        constantly evaluating and updating our payment options to provide the best experience for our
                        customers.
                    </div><!-- End .card-body -->
                </div><!-- End .collapse -->
            </div><!-- End .card -->



            <div class="card card-box card-sm bg-light">
                <div class="card-header" id="heading3-4">
                    <h2 class="card-title">
                        <a class="collapsed" role="button" data-toggle="collapse" href="#collapse3-4"
                            aria-expanded="false" aria-controls="collapse3-4">
                            Has my payment gone through?
                        </a>
                    </h2>
                </div><!-- End .card-header -->
                <div id="collapse3-4" class="collapse" aria-labelledby="heading3-4" data-parent="#accordion-3">
                    <div class="card-body">
                        Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper
                        suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum.Lorem
                        ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat
                        mattis eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio.
                        Quisque volutpat mattis eros.
                    </div><!-- End .card-body -->
                </div><!-- End .collapse -->
            </div><!-- End .card -->
        </div><!-- End .accordion -->
    </div><!-- End .container -->
</div><!-- End .page-content -->
