@model HeaderViewModel
<header class="header">
    <div class="header-top">
        <div class="container">
            <div class="header-left">
                <div class="header-dropdown">
                    <a>Usd</a>
                </div><!-- End .header-dropdown -->
                <div class="header-dropdown">
                    <a>Eng</a>
                </div><!-- End .header-dropdown -->
            </div><!-- End .header-left -->

            <div class="header-right">
                <ul class="top-menu">
                    <li>
                        <a href="">Links</a>
                        <ul>
                            <li><a href=""><i class="icon-phone"></i>Call: +0123 456 789</a></li>
                            <li><a asp-controller="Home" asp-action="Help">Help</a></li>
                            @if (User.Identity != null && User.Identity.IsAuthenticated)
                            {
                                <li asp-controller="Order" asp-action="OrderHistory" active-route>
                                    <a asp-controller="Order" asp-action="OrderHistory" class="sf-with-ul">My history
                                        orders</a>
                                </li>
                                <li><a asp-controller="Account" asp-action="Profile">Welcome
                                        @User.Identity.Name <i class="icon-user"></i></a>
                                </li>
                                <li><a asp-controller="Account" asp-action="Logout">Logout</a>
                                </li>
                            }
                            else
                            {
                                <li><a asp-controller="Account" asp-action="Login"><i
                                            class="icon-user"></i>Login/Register</a></li>
                            }
                        </ul>
                    </li>
                </ul><!-- End .top-menu -->
            </div><!-- End .header-right -->
        </div><!-- End .container -->
    </div><!-- End .header-top -->


    <div class="header-middle sticky-header">
        <div class="container">
            <div class="header-left">
                <button class="mobile-menu-toggler">
                    <span class="sr-only">Toggle mobile menu</span>
                    <i class="icon-bars"></i>
                </button>

                <a asp-controller="Home" asp-action="Index" class="logo">
                    <img src="~/assets/images/FPTLogo.png" alt="Molla Logo" width="105" height="25">
                </a>
                <nav class="main-nav">
                    <ul class="menu sf-arrows">
                        <li asp-controller="Home" asp-action="Index" active-route>
                            <a asp-controller="Home" asp-action="Index" class="sf-with-ul">Home</a>
                        </li>
                        <li asp-controller="Book" asp-action="Index" active-route>
                            <a asp-controller="Book" asp-action="Index" class="sf-with-ul">Categories</a>
                            <ul>
                                @foreach (Category c in Model?.Categories ?? Enumerable.Empty<Category>())
                                {
                                    <li>
                                        <a asp-controller="Book" asp-action="Index"
                                            asp-route-categoryId="@c.Id">@c.CategoryName</a>
                                    </li>
                                }
                            </ul>
                        </li>

                        @if (User.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("StoreOwner"))
                        {
                            <li asp-controller="StoreOwner" asp-action="Index" active-route>
                                <a asp-controller="StoreOwner" asp-action="Index" class="sf-with-ul">StoreOwner Manage</a>
                                <ul>
                                    <li asp-controller="StoreOwner" asp-action="Index" active-route>
                                        <a asp-controller="StoreOwner" asp-action="Index">Add book</a>
                                    </li>
                                    <li asp-controller="StoreOwner" asp-action="CategoryRequest" active-route>
                                        <a asp-controller="StoreOwner" asp-action="CategoryRequest">Request Category</a>
                                    </li>
                                    <li asp-controller="StoreOwner" asp-action="OrderManage" active-route>
                                        <a asp-controller="StoreOwner" asp-action="OrderManage">Manage Orders</a>
                                    </li>
                                </ul>
                            </li>



                            <!-- End .menu -->

                        }
                        else if (User.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li asp-controller="Admin" asp-action="Index" active-route>
                                <a asp-controller="Admin" asp-action="Index" class="sf-with-ul">Admin Manage</a>
                                <ul>
                                    <li asp-controller="Admin" asp-action="Index" active-route>
                                        <a asp-controller="Admin" asp-action="Index" asp-route-account="Customer">Manage
                                            Customer</a>
                                    </li>
                                    <li asp-controller="Admin" asp-action="Index" active-route>
                                        <a asp-controller="Admin" asp-action="Index" asp-route-account="StoreOwner">Manage
                                            StoreOwner</a>
                                    </li>
                                    <li asp-controller="Admin" asp-action="CategoryRequestManage" active-route>
                                        <a asp-controller="Admin" asp-action="CategoryRequestManage">Manage Category
                                            Requests</a>
                                    </li>
                                    <li asp-controller="StoreOwner" asp-action="Index" active-route>
                                        <a asp-controller="StoreOwner" asp-action="Index">Manage
                                            Books</a>
                                    </li>
                                </ul>
                            </li>


                            <!-- End .menu -->
                        }

                    </ul>
                </nav>
            </div>

            <!-- End .header-left -->

            <div class="header-right">
                <div class="header-search">
                    <a href="" class="search-toggle" role="button" title="Search"><i class="icon-search"></i></a>
                    <form asp-controller="@Model?.SearchAspController" asp-action="Index" method="get">
                        <div class="header-search-wrapper">
                            <label for="q" class="sr-only">Search</label>
                            <input type="search" class="form-control" name="searchQuery" id="searchQuery"
                                placeholder="Search in..." required>
                        </div><!-- End .header-search-wrapper -->
                    </form>
                </div><!-- End .header-search -->


                <div class="dropdown cart-dropdown">
                    <a asp-controller="Cart" asp-action="Index" class="dropdown-toggle" role="button"
                        aria-haspopup="true" aria-expanded="false" data-display="static">
                        <i class="icon-shopping-cart"></i>
                        <span class="cart-count">@Model?.CartCount</span>
                    </a>
                </div><!-- End .cart-dropdown -->
            </div>

            <!-- End .header-right -->
        </div>

        <!-- End .container -->
    </div>

    <!-- End .header-middle -->
</header>

<!-- End .header -->