@model HeaderViewModel
<!-- Mobile Menu -->
<div class="mobile-menu-overlay"></div><!-- End .mobil-menu-overlay -->


<div class="mobile-menu-container">
    <div class="mobile-menu-wrapper">
        <span class="mobile-menu-close"><i class="icon-close"></i></span>

        <form asp-controller="@Model?.SearchAspController" asp-action="Index" method="get" class="mobile-search">
            <label for="mobile-search" class="sr-only">Search</label>
            <input type="search" class="form-control" name="searchQuery" id="searchQuery" placeholder="Search in..."
                required>
            <button class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
        </form>

        <ul class="nav nav-pills-mobile nav-fill" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="mobile-menu-link" data-toggle="tab" href="#mobile-menu-tab" role="tab"
                    aria-controls="mobile-menu-tab" aria-selected="true">Menu</a>
            </li>

        </ul>

        <div class="tab-content">
            <div class="tab-pane fade show active" id="mobile-menu-tab" role="tabpanel"
                aria-labelledby="mobile-menu-link">
                <nav class="mobile-nav">
                    <ul class="mobile-menu">
                        <li asp-controller="Home" asp-action="Index" active-route>
                            <a asp-controller="Home" asp-action="Index" class="sf-with-ul">Home</a>
                        </li>
                        <li asp-controller="Book" asp-action="Index" active-route>
                            <a asp-controller="Book" asp-action="Index" class="sf-with-ul">Categories</a>
                            <ul>
                                @foreach (Category c in Model?.Categories ?? Enumerable.Empty<Category>())
                                {
                                    <li>
                                        <a asp-controller="Book" asp-action="Index"
                                            asp-route-categoryId="@c.Id">@c.CategoryName</a>
                                    </li>
                                }
                            </ul>
                        </li>

                        @if (User.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("StoreOwner"))
                        {
                            <li asp-controller="StoreOwner" asp-action="Index" active-route>
                                <a asp-controller="StoreOwner" asp-action="Index" class="sf-with-ul">StoreOwner Manage</a>
                                <ul>
                                    <li asp-controller="StoreOwner" asp-action="Index" active-route>
                                        <a asp-controller="StoreOwner" asp-action="Index">Add book</a>
                                    </li>
                                    <li asp-controller="StoreOwner" asp-action="CategoryRequest" active-route>
                                        <a asp-controller="StoreOwner" asp-action="CategoryRequest">Request Category</a>
                                    </li>
                                    <li asp-controller="StoreOwner" asp-action="OrderManage" active-route>
                                        <a asp-controller="StoreOwner" asp-action="OrderManage">Manage Orders</a>
                                    </li>
                                </ul>
                            </li>



                            <!-- End .menu -->

                        }
                        else if (User.Identity != null && User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <li asp-controller="Admin" asp-action="Index" active-route>
                                <a asp-controller="Admin" asp-action="Index" class="sf-with-ul">Admin Manage</a>
                                <ul>
                                    <li asp-controller="Admin" asp-action="Index" active-route>
                                        <a asp-controller="Admin" asp-action="Index" asp-route-account="Customer">Manage
                                            Customer</a>
                                    </li>
                                    <li asp-controller="Admin" asp-action="Index" active-route>
                                        <a asp-controller="Admin" asp-action="Index" asp-route-account="StoreOwner">Manage
                                            StoreOwner</a>
                                    </li>
                                    <li asp-controller="Admin" asp-action="CategoryRequestManage" active-route>
                                        <a asp-controller="Admin" asp-action="CategoryRequestManage">Manage Category
                                            Requests</a>
                                    </li>
                                    <li asp-controller="StoreOwner" asp-action="Index" active-route>
                                        <a asp-controller="StoreOwner" asp-action="Index">Manage
                                            Books</a>
                                    </li>
                                </ul>
                            </li>


                            <!-- End .menu -->
                        }

                    </ul>
                </nav><!-- End .mobile-nav -->
            </div><!-- .End .tab-pane -->

        </div><!-- End .tab-content -->

        <div class="social-icons">
            <a href="" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
            <a href="" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
            <a href="" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
            <a href="" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
        </div><!-- End .social-icons -->
    </div><!-- End .mobile-menu-wrapper -->
</div><!-- End .mobile-menu-container -->